################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WcfServiceWebApp/.vs/WcfServiceWebApp/v16
/WcfServiceWebApp/bin
/WcfServiceWebApp/obj
/WcfServiceWebApp/Properties
/WcfServiceWebApp/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.10.9
